*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
body{
    background-color: lightblue;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 1000px;
}

.container{
    background-color: white;
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 1400px;
    min-width: 100px;
    min-height: 1000px;
    display: none;
    grid-template-columns: 3fr 5fr;
}
.container .top{
    position: relative;
    max-width: 300px;
    min-width: 100px;
    min-height: 100px;
}
.container .left{
    position: relative;
    background-color:rgb(40, 69, 95);
    padding: 50px;
}
.container .right{
    position: relative;
    background-color: white;
    padding: 50px;
}
.perfil{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid (165,165,165);

}
.perfil .foto{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 150px;
    overflow: hidden;
}
.info{
    margin-left: 40px;
    margin-right: 40px;
}
.info .titulo h2{
    font-size: 40px;
    color: rgb(55, 105, 161);
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 7px;
    border-bottom: 3px rgb(55, 105, 161)solid;
    text-align: center;
}
.info p{
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}
.info .pbold{
    font-weight: bold;
}
.info .institucion{
    font-weight: bold;
    border-bottom: 1px white solid;
}

.info .bold{
    font-weight: bolder;
    color: rgb(55, 105, 161);
}
.right {
    margin-left: 70px;
    margin-right: 60px;
    text-align: justify;
}
.right h1{
    margin-top: 100px;
    font-size: 50px;
}
.right h2{
    color:rgb(40, 69, 95);
    font-size: 40px;

    border-bottom: 3px rgb(40, 69, 95) solid;
}
.right h3{
    color: rgb(40, 69, 95);
    font-size: 30px;
    margin-top: 10px;
}
.right p{
    font-size: 20px;
}
.perfilprof h2{
    margin-top: 50px;
    border-bottom: none;
}
.perfilprof p{
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 3px rgb(40, 69, 95)solid;
}
.experiencia h2{
    margin-top: 50px;
    border-bottom: none;
}
.border{
    padding-bottom: 10px;
    border-bottom: 3px rgb(40, 69, 95)solid;
}
.intereses h2{
    margin-top: 50px;
    border-bottom: none;
}

.cursos h2{
    margin-top: 50px;
    border-bottom: none;
}

.settings{
    background-color: white;
    position: relative;
    width: 100%;
    margin: 50px;
    max-width: 500px;
    min-width: 100px;
    min-height: 1000px;
    border:black solid 3px;
}
.settings .internals{
    margin: 5px;
}
.botones{background-color:#448dc4;
border-radius:42px;
border:3px solid #1c77a8;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:20px;
padding:8px 31px;
text-decoration:none;
}

.botones:hover {
background-color:#1c77a8;
}
.botones:active {
position:relative;
top:1px;
}

    